<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topic - Create</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 20px;">
    <a class="navbar-brand">
        <img th:src="@{/img/logo.webp}" width="45" height="45" class="d-inline-block align-top" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/index}">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" th:href="@{/topics}">Topics</a>
            <a class="nav-item nav-link" th:href="@{/user}">User</a>
        </div>
    </div>
</nav>
<br/>
<div class="flex-column d-flex align-items-center justify-content-center">
    <div class="container card-body">
        <div class="card ">
            <form th:action="@{/topics}" th:object="${topic}" method="post">
                <h5 class="card-header text-center">Create a topic</h5>
                <div class="card-body  flex-column d-flex align-items-center justify-content-center">
                    <label>
                        <input type="text" name="name" th:field="*{name}" placeholder="Enter Topic Title:"/>
                    </label>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>