<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post - Single</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 20px;">
    <a class="navbar-brand">
        <img th:src="@{/img/logo.webp}" width="45" height="45" class="d-inline-block align-top" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/index}">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/topics}">Topics</a>
            <a class="nav-item nav-link" th:href="@{/user}">User</a>
        </div>
    </div>
</nav>
<br/>
<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="card border-dark mb-3 w-50">
        <div class="card-header text-center" th:text="${post.title}">Post Title</div>
        <div class="card-body">
            <p class="card-text align-top" style="display: flex; justify-content: space-between">
                <span th:text="${post.getUser().username}">Username</span>
                <span th:text="${date}">Date</span>
            </p>
            <br/>
            <h5 class="card-title" th:text="${post.content}">Light card title</h5>
        </div>
    </div>
</div>
<br/>
<div th:if="${privileged}" class="d-flex flex-row align-items-center justify-content-center">
    <a th:href="@{/topics/{topicName}/{id}/delete(topicName=${post.getTopic().name}, id=${post.id})}" style="font-size: 14px"
       class="btn btn-danger w-25">Delete</a>
</div>
<br/>
</body>
</html>