<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 20px;">
    <a class="navbar-brand">
        <img th:src="@{/img/logo.webp}" width="45" height="45" class="d-inline-block align-top" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/index}">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/topics}">Topics</a>
            <a class="nav-item nav-link" th:href="@{/user}">User</a>
        </div>
    </div>
</nav>
<br /><br />
<div class="container">
    <div th:if="${param.error}">
        <div class="alert alert-danger">Invalid Email or Password</div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-success"> You have been logged out.</div>
    </div>
    <div class="login-div">
        <form method="post" role="form" th:action="@{/login}">
            <div class="form-group">
                <label for="username" style="font-size: 22px">Username</label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="Enter username">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password" style="font-size: 22px">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
</body>
</html>