<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 20px;">
    <a class="navbar-brand">
        <img th:src="@{/img/logo.webp}" width="45" height="45" class="d-inline-block align-top" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/index}">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/topics}">Topics</a>
            <a class="nav-item nav-link active" th:href="@{/user}">User</a>
        </div>
    </div>
</nav>
<br/>
<div class="d-flex align-items-center flex-column justify-content-center">
    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header" th:text="${user.username}">Username</div>
        <div class="card-body text-dark">
            <h5 class="card-title" th:text="|Posts: ${user.posts.size()}|">Number of Posts</h5>
            <h5 class="card-title">Roles:</h5>
            <div th:each="role: ${user.getRoles()}">
                <h6 class="card-title" th:text="${role.getName()}">Role</h6>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <a th:href="@{/logout}" style="font-size: 14px"
           class="btn btn-danger">Logout</a>
    </div>
</div>
</body>
</html>