<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 20px;">
    <a class="navbar-brand">
        <img th:src="@{/img/logo.webp}" width="45" height="45" class="d-inline-block align-top" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/index}">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/topics}">Topics</a>
            <a class="nav-item nav-link" th:href="@{/user}">User</a>
        </div>
    </div>
</nav>
<br/>
<div class="d-flex align-items-center justify-content-center">
    <div class="jumbotron text-center" style="background-color: transparent; text-align: center">
        <div class="justify-content-center align-items-center d-flex">
            <img th:src="@{/img/logo.webp}" width="200" height="200"
                 class="d-inline-block align-top justify-content-center " alt="Logo">
        </div>
        <h1 class="display-4">Welcome to Mattslist!</h1>
        <p class="lead">The industry-leading website for classified ads!</p>
        <hr class="my-4">
        <p class="lead justify-content-center align-items-center d-flex">
            <a class="btn btn-primary btn-lg align-bottom" th:href="@{/register}" role="button">Create an account</a>
        </p>
    </div>
</div>
</body>
</html>